/*
 * Copyright (C) 2014 Florian Vaussard, EPFL Mobots group
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "omap4-duovero.dtsi"

#include <dt-bindings/input/input.h>

/ {
	model = "OMAP4430 Gumstix Duovero on Parlor";
	compatible = "gumstix,omap4-duovero-parlor", "gumstix,omap4-duovero", "ti,omap4430", "ti,omap4";

	uart56_osc: uart56_osc {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <1843200>;
	};

	uart78_osc: uart78_osc {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <1843200>;
	};

	uart56_clk: uart56_clk {
		compatible = "gpio-gate-clock";
		clocks = <&uart56_osc>;
		#clock-cells = <0>;
		enable-gpios = <&gpio3 17 GPIO_ACTIVE_HIGH>; /* cam_shutter.gpio_81: uart56_clk_en */
	};

	uart78_clk: uart78_clk {
		compatible = "gpio-gate-clock";
		clocks = <&uart78_osc>;
		#clock-cells = <0>;
		enable-gpios = <&gpio3 18 GPIO_ACTIVE_HIGH>; /* cam_strobe.gpio_82: uart78_clk_en */
	};
};

&omap4_pmx_core {
	pinctrl-0 = <
			&uart56ctrl_pins
			&uart78ctrl_pins
	>;

	i2c2_pins: pinmux_i2c2_pins {
		pinctrl-single,pins = <
			OMAP4_IOPAD(0x126, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c2_scl */
			OMAP4_IOPAD(0x128, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c2_sda */
		>;
	};

	i2c3_pins: pinmux_i2c3_pins {
		pinctrl-single,pins = <
			OMAP4_IOPAD(0x12a, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c3_scl */
			OMAP4_IOPAD(0x12c, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c3_sda */
		>;
	};

	uart56ctrl_pins: pinmux_uart56ctrl_pins {
		pinctrl-single,pins = <
			OMAP4_IOPAD(0x068, PIN_INPUT_PULLUP | MUX_MODE3)	/* gpmc_a20.gpio_44: uart56_irq */
			OMAP4_IOPAD(0x06a, PIN_INPUT_PULLUP | MUX_MODE3)	/* gpmc_a21.gpio_45: uart56_nrst */
			OMAP4_IOPAD(0x0bc, PIN_OUTPUT | MUX_MODE3)		/* cam_shutter.gpio_81: uart56_clk_en */
		>;
	};

	uart78ctrl_pins: pinmux_uart78ctrl_pins {
		pinctrl-single,pins = <
			OMAP4_IOPAD(0x070, PIN_INPUT_PULLUP | MUX_MODE3)	/* gpmc_a24.gpio_48: uart78_irq */
			OMAP4_IOPAD(0x06c, PIN_INPUT_PULLUP | MUX_MODE3)	/* gpmc_a24.gpio_46: uart78_nrst */
			OMAP4_IOPAD(0x0be, PIN_OUTPUT | MUX_MODE3)		/* cam_strobe.gpio_82: uart78_clk_en */
		>;
	};
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;

	clock-frequency = <400000>;

	pca9632_1: pca9632@10 {
		compatible = "nxp,pca9635";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x10>;

		leddeck1_red@0    { label = "led_deck[1]:red";   reg = <0>; };
		leddeck1_green@1  { label = "led_deck[1]:green"; reg = <1>; };
		leddeck1_blue@2   { label = "led_deck[1]:blue";  reg = <2>; };
		leddeck2_red@4    { label = "led_deck[2]:red";   reg = <4>; };
		leddeck2_green@5  { label = "led_deck[2]:green"; reg = <5>; };
		leddeck2_blue@6   { label = "led_deck[2]:blue";  reg = <6>; };
		leddeck3_red@8    { label = "led_deck[3]:red";   reg = <8>; };
		leddeck3_green@9  { label = "led_deck[3]:green"; reg = <9>; };
		leddeck3_blue@10  { label = "led_deck[3]:blue";  reg = <10>; };
		leddeck4_red@12   { label = "led_deck[4]:red";   reg = <12>; };
		leddeck4_green@13 { label = "led_deck[4]:green"; reg = <13>; };
		leddeck4_blue@14  { label = "led_deck[4]:blue";  reg = <14>; };
		unused0@3  { reg = <3>; };
		unused1@7  { reg = <7>; };
		unused2@11 { reg = <11>; };
		unused3@15 { reg = <15>; };
	};

	pca9632_2: pca9632@11 {
		compatible = "nxp,pca9635";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x11>;

		leddeck5_red@0    { label = "led_deck[5]:red";   reg = <0>; };
		leddeck5_green@1  { label = "led_deck[5]:green"; reg = <1>; };
		leddeck5_blue@2   { label = "led_deck[5]:blue";  reg = <2>; };
		leddeck6_red@4    { label = "led_deck[6]:red";   reg = <4>; };
		leddeck6_green@5  { label = "led_deck[6]:green"; reg = <5>; };
		leddeck6_blue@6   { label = "led_deck[6]:blue";  reg = <6>; };
		leddeck7_red@8    { label = "led_deck[7]:red";   reg = <8>; };
		leddeck7_green@9  { label = "led_deck[7]:green"; reg = <9>; };
		leddeck7_blue@10  { label = "led_deck[7]:blue";  reg = <10>; };
		leddeck8_red@12   { label = "led_deck[8]:red";   reg = <12>; };
		leddeck8_green@13 { label = "led_deck[8]:green"; reg = <13>; };
		leddeck8_blue@14  { label = "led_deck[8]:blue";  reg = <14>; };
		unused4@3  { reg = <3>; };
		unused5@7  { reg = <7>; };
		unused6@11 { reg = <11>; };
		unused7@15 { reg = <15>; };
	};

	pca9632_3: pca9632@12 {
		compatible = "nxp,pca9635";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x12>;

		leddeck9_red@0    { label = "led_deck[9]:red";   reg = <0>; };
		leddeck9_green@1  { label = "led_deck[9]:green"; reg = <1>; };
		leddeck9_blue@2   { label = "led_deck[9]:blue";  reg = <2>; };
		leddeck10_red@4    { label = "led_deck[10]:red";   reg = <4>; };
		leddeck10_green@5  { label = "led_deck[10]:green"; reg = <5>; };
		leddeck10_blue@6   { label = "led_deck[10]:blue";  reg = <6>; };
		leddeck11_red@8    { label = "led_deck[11]:red";   reg = <8>; };
		leddeck11_green@9  { label = "led_deck[11]:green"; reg = <9>; };
		leddeck11_blue@10  { label = "led_deck[11]:blue";  reg = <10>; };
		leddeck12_red@12   { label = "led_deck[12]:red";   reg = <12>; };
		leddeck12_green@13 { label = "led_deck[12]:green"; reg = <13>; };
		leddeck12_blue@14  { label = "led_deck[12]:blue";  reg = <14>; };
		unused8@3  { reg = <3>; };
		unused9@7  { reg = <7>; };
		unused10@11 { reg = <11>; };
		unused11@15 { reg = <15>; };
	};

	uart56: sc16is762@48 {
		compatible = "nxp,sc16is762";
		reg = <0x48>;
		clocks = <&uart56_clk>;

		interrupt-parent = <&gpio2>;
		interrupts = <12 IRQ_TYPE_EDGE_FALLING>; /* gpmc_a20.gpio_44 */
	};

	uart78: sc16is762@49 {
		compatible = "nxp,sc16is762";
		reg = <0x49>;
		clocks = <&uart78_clk>;

		interrupt-parent = <&gpio2>;
		interrupts = <16 IRQ_TYPE_EDGE_FALLING>; /* gpmc_a24.gpio_48 */
	};

	rf_pca_0: pca9545@70 {
		compatible = "nxp,pca9545";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;
		i2c-mux-idle-disconnect;

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			
			vcnl4010@13 {
				compatible = "vishay,vcnl4010";
				reg = <0x13>;
			};
		};

		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			
			vcnl4010@13 {
				compatible = "vishay,vcnl4010";
				reg = <0x13>;
			};
		};

		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			
			vcnl4010@13 {
				compatible = "vishay,vcnl4010";
				reg = <0x13>;
			};
		};

		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			
			vcnl4010@13 {
				compatible = "vishay,vcnl4010";
				reg = <0x13>;
			};
		};
	};
	rf_pca_1: pca9545@71 {
		compatible = "nxp,pca9545";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x71>;
		i2c-mux-idle-disconnect;

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			
			vcnl4010@13 {
				compatible = "vishay,vcnl4010";
				reg = <0x13>;
			};
		};

		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			
			vcnl4010@13 {
				compatible = "vishay,vcnl4010";
				reg = <0x13>;
			};
		};

		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			
			vcnl4010@13 {
				compatible = "vishay,vcnl4010";
				reg = <0x13>;
			};
		};

		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			
			vcnl4010@13 {
				compatible = "vishay,vcnl4010";
				reg = <0x13>;
			};
		};
	};
	rf_pca_2: pca9545@72 {
		compatible = "nxp,pca9545";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x72>;
		i2c-mux-idle-disconnect;

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			
			vcnl4010@13 {
				compatible = "vishay,vcnl4010";
				reg = <0x13>;
			};
		};

		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			
			vcnl4010@13 {
				compatible = "vishay,vcnl4010";
				reg = <0x13>;
			};
		};

		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			
			vcnl4010@13 {
				compatible = "vishay,vcnl4010";
				reg = <0x13>;
			};
		};

		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			
			vcnl4010@13 {
				compatible = "vishay,vcnl4010";
				reg = <0x13>;
			};
		};
	};
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;

	clock-frequency = <100000>;

	/* optional 1K EEPROM with revision information */
	eeprom@51 {
		compatible = "atmel,24c01";
		reg = <0x51>;
		pagesize = <8>;
	};
};

&mmc3 {
	status = "disabled";
};

&uart3 {
	interrupts-extended = <&wakeupgen GIC_SPI 74 IRQ_TYPE_LEVEL_HIGH
			       &omap4_pmx_core OMAP4_UART3_RX>;
};

&iss {
	status = "ok";
};

